<ul>
  <li class="flex flex-col gap-1 py-4 text-secondary">
    <div>University of Alberta</div>
    <div class="text-foreground">Bachelors of Science</div>
    <div class="text-xs">Major in Computer Science & minor in Math</div>
  </li>
</ul>
