---
import ExperienceTab from "./ExperienceTab.astro";
import EducationTab from "./EducationTab.astro";
import TabButton from "./TabButton.astro";
---

<div>
  <div class="gap-2 mb-4">
    <div class="border border-accent rounded-md grid grid-cols-2">
      <div class="p-1 justify-self-stretch">
        <TabButton id="experience" label="Experience" />
      </div>

      <div class="p-1 justify-self-stretch">
        <TabButton id="education" label="Education" />
      </div>
    </div>
  </div>

  <div id="tab-content-experience" class="tab-content hidden">
    <ExperienceTab />
  </div>
  <div id="tab-content-education" class="tab-content hidden">
    <EducationTab />
  </div>
</div>

<script is:inline>
  function switchTab(id) {
    document.querySelectorAll(".tab-btn").forEach((btn) => {
      btn.classList.remove("text-background", "bg-foreground");
      btn.classList.add("opacity-50", "text-foreground");
    });

    document.querySelectorAll(".tab-content").forEach((el) =>
      el.classList.add("hidden")
    );

    const activeBtn = document.getElementById(`tab-btn-${id}`);
    activeBtn?.classList.add("text-background", "bg-foreground");
    activeBtn?.classList.remove("opacity-50", "text-foreground");

    const activeContent = document.getElementById(`tab-content-${id}`);
    activeContent?.classList.remove("hidden");
  }

  window.addEventListener("DOMContentLoaded", () => {
    switchTab("experience");
  });
</script>
