---
import Layout from '../layouts/Layout.astro';

import "../styles/global.css";
import Header from '@components/Header.astro';
import Footer  from "@components/Footer.astro";
// import { Resume } from "@/components/Icons"; // Assuming it's a React component
import { ArrowRight } from "@lucide/astro";
import Links from "@components/Links.astro"; 
import Resume from '@components/Icons/Resume.astro';
// import Tabs from "@/components/Tabs/Tabs.jsx"; // React component
---

<Layout>
<div class="m-auto max-w-3xl">
  <Header />

  <main>
    <section class="pt-16 pb-12 flex justify-between">
      <div>
        <div class="pb-4">
          <h1 class="font-title text-5xl pb-2">hi, neil here. 👋</h1>
          <p>
            Software Engineer at PLACE from Canada 🇨🇦
          </p>
        </div>

        <p>
          I specialize in distributed systems, infrastructure observability,
          and backend development.
      </p>

        <div class="pt-4">
          <div>Let’s connect — I’m always up for a conversation</div>
          <div class="text-[12px]">
            For formal opportunities, email works best.
          </div>
        </div>

        <div class="pt-6">
          <div class="flex gap-4 items-center">
            <a href="/resume.pdf" download>
              <button class="flex items-center gap-4 border border-accent rounded-md px-4 py-1 cursor-pointer">
                <span>Resume</span>
                <Resume />
              </button>
            </a>

            <Links/>


          </div>
        </div>
      </div>

      <div>
        <img
          class="rounded-md"
          src="/neil.png"
          alt="Neil Viloria"
          width="200"
          height="300"
        />
      </div>
    </section>

    <section class="pb-16">
      <!-- <Tabs client:load /> -->
    </section>

    <section class="pb-16">
      <div class="flex justify-between items-center">
        <h2 class="font-title text-3xl">featured projects</h2>
        <a href="/projects" class="text-secondary flex items-center gap-1">
          <span class="text-sm">view more</span>
          <ArrowRight size={20} />
        </a>
      </div>
    </section>

    <section class="pb-16">
      <div class="flex justify-between items-center">
        <h2 class="font-title text-3xl">open source work</h2>
        <a href="/projects" class="text-secondary flex items-center gap-1">
          <span class="text-sm">view more</span>
          <ArrowRight size={20} />
        </a>
      </div>
    </section>
  </main>

  <Footer />
</div>
</Layout>
