---

import "../styles/global.css";
import Header from '@components/Header.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="m-auto max-w-3xl">
      <Header />
      <h1 class="font-title">my projects.</h1>
    </div>
</Layout>
