---
import Links from "./Links.astro";
---

<footer class="pt-12 pb-32 flex items-center text-secondary justify-between">
  <div class="text-xs">
    <div>neil.viloria.com</div>
    <div>Made with Astro and Tailwind</div>
  </div>
  <Links />
</footer>
