---
import ThemeToggle from "./ThemeToggle.astro"
---
<header class="sticky pt-2 top-0">
  <div
    class="justify-between flex w-full rounded-md bg-background/5 backdrop-blur-md p-2 items-center shadow-md border border-accent"
  >
    <div class="flex gap-2 text-sm items-center">
      <a href="/" class="px-4 py-1.5 rounded-md hover:bg-accent">home</a>
      <a href="/projects" class="px-4 py-1.5 rounded-md hover:bg-accent">projects</a>
    </div>

    <ThemeToggle />
  </div>
</header>
