---
import { Sun } from "@lucide/astro";
---

<header class="sticky pt-2 top-0">
  <div class="justify-between flex w-full rounded-md bg-white/5 backdrop-blur-md p-2 items-center shadow-md">
    <div class="flex gap-2 text-sm items-center">
      <a href="/" class="px-4 py-1.5">home</a>
      <a href="/projects" class="px-4 py-1.5">projects</a>
    </div>

    <button class="cursor-pointer p-1.5">
      <Sun size={16} class="text-orange-300" />
    </button>
  </div>
</header>

