---
import Linkedin from "@components/Icons/Linkedin.astro";
import Github from "@components/Icons/GitHub.astro";
import Email from "@components/Icons/Email.astro";
---

<div class="flex gap-6 text-secondary">
  <a
    class="hover:text-foreground cursor-pointer"
    href="https://www.linkedin.com/in/neilzonv/"
    target="_blank"
    rel="noopener noreferrer"
  >
    <Linkedin />
  </a>
  <a
    class="hover:text-foreground cursor-pointer"
    href="https://github.com/neil-ptr"
    target="_blank"
    rel="noopener noreferrer"
  >
    <Github />
  </a>
  <a
    class="hover:text-foreground cursor-pointer"
    href="mailto:neilzoncviloria@email.com"
  >
    <Email />
  </a>
</div>

