---
import { Sun } from "@lucide/astro";
---

<button class="cursor-pointer p-1.5 rounded-md cursor-pointer hover:bg-accent" aria-label="toggle theme">
  <Sun size={16} class="text-orange-300" />
</button>
